.Services {
    height: auto;
    min-height: 100vh;
    text-align: center;
    padding-top: 5rem;
    background-color: white;
}
.Services h1 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 1rem 0;
    color: rgb(41, 100, 138);
}

.ServiceParagraph {
    margin: 1rem auto;
    font-size: 1.1rem;
    width: 80%;
    text-align: center;
    font-weight: 500;
    color: #32aedc;
}

@media (min-width: 1024px) {
    .ServicesCards {
        display: flex;
        margin: 0 5rem;
        margin-top: 4rem;
    }
    
    .ServiceParagraph {
        width: 60%;
        font-size: 1.3rem;
    }
}
