.Navigation {
    height: 4rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 5px solid #32aedc;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 10;
}

.Button {
    margin-right: 2rem !important;
    background-color: #32aedc !important;
}

.Navigation nav {
    height: 100%;
}

@media (max-width: 768px) {
    .DesktopOnly {
        display: none;
    }
    .Button {
        display: none !important;
    }
}
